@tailwind base;
@tailwind components;
@tailwind utilities;

.thumbnail {
    height: 400px;
    width: 500px;
    background-position: center;
    background-size: cover;
}

.c-border {
    @apply tw-border tw-border-[1.9px] tw-w-12  tw-my-6 tw-border-blue-500
}
.c-header {
    @apply tw-text-2xl sm:tw-text-3xl
}
.c-header-wrapper {
    @apply sm:tw-px-2 tw-px-6 md:tw-py-5 lg:tw-max-w-md tw-mx-auto sm:tw-max-w-lg tw-max-w-full
}
.service-card {
    @apply lg:tw-px-10 tw-px-4 tw-py-8 tw-border-b-8 hover:tw-shadow-lg tw-transition
     md:hover:tw-scale-110 tw-duration-500 tw-rounded tw-cursor-pointer hover:tw-border-b-8 hover:tw-border-b-blue-600
    tw-overflow-hidden
}
.service-card-2 {
    @apply lg:tw-px-10 tw-px-4 tw-py-8 hover:tw-border-stone-800 tw-duration-200 tw-rounded-2xl tw-cursor-pointer tw-overflow-hidden
}
.project-overlay {
    @apply tw-absolute tw-top-10 tw-h-screen tw-left-0 tw-right-0 tw-p-8 tw-px-12 sm:tw-pt-40 tw-pt-20
    tw-text-white tw-duration-500  hover:tw-scale-110 tw-scale-90 tw-bg-black tw-opacity-0
    hover:tw-opacity-100 tw-bg-opacity-40
}

.service:nth-child(even) {
    @apply lg:tw-flex-row-reverse
}
.d-card {
    @apply tw-flex tw-flex-col lg:tw-flex-row tw-justify-between tw-items-center
}
.d-card-text {
    @apply tw-mx-auto tw-px-4 md:tw-px-8 lg:tw-px-8 xl:tw-px-16 tw-mb-6
}
.d-card-main-text {
    @apply md:tw-text-[16px] tw-text-[15px] tw-leading-loose tw-text-justify
}
.d-card-img {
    @apply lg:tw-max-w-lg xl:tw-max-w-xl tw-max-w-full
}

.nav-link {
    font-weight: 500 !important;
    color: #1a202c !important;
}
.active {
    color: #007BFF !important;
}

.navbar-toggler {
    box-shadow: none !important;
}


@media (min-width: 300px ) {
    .carousel-caption {
        left: 5% !important;
        right: 5% !important;
    }
}

@media (max-width: 900px ) {
    .thumbnail {
        height: 400px;
        width: 100vw;
    }

    .big-banner {
        width: 100vw;
    }
}


