@tailwind base;
@tailwind components;
@tailwind utilities;

.c-border {
    @apply tw-border tw-border-[1.9px] tw-w-12  tw-my-10 tw-border-blue-500
}

.nav-link {
    font-weight: 500 !important;
    color: #1a202c !important;
}
.active {
    color: #007BFF !important;
}

.navbar-toggler {
    box-shadow: none !important;
}


@media (min-width: 300px ) {
    .carousel-caption {
        left: 5% !important;
        right: 5% !important;
    }
}
