@tailwind base;
@tailwind components;
@tailwind utilities;

.c-border {
    @apply tw-border tw-border-[1.9px] tw-w-12  tw-my-6 tw-border-blue-500
}
.c-header {
    @apply tw-text-2xl sm:tw-text-3xl
}
.c-header-wrapper {
    @apply sm:tw-px-2 tw-px-6 md:tw-py-5 lg:tw-max-w-md tw-mx-auto sm:tw-max-w-lg tw-max-w-full
}
.service-card {
    @apply lg:tw-px-10 tw-px-4 tw-py-8 tw-border-b-8 tw-border-b-white hover:tw-shadow-lg tw-transition
     hover:tw-scale-110 tw-duration-500 tw-rounded tw-cursor-pointer hover:tw-border-b-8 hover:tw-border-b-blue-600
    tw-overflow-hidden
}
.project-overlay {
    @apply tw-absolute tw-top-10 tw-h-screen tw-left-0 tw-right-0 tw-p-8 tw-px-12 sm:tw-pt-40 tw-pt-20
    tw-text-white tw-duration-500  hover:tw-scale-110 tw-scale-90 tw-bg-black tw-opacity-0
    hover:tw-opacity-100 tw-bg-opacity-40
}

.nav-link {
    font-weight: 500 !important;
    color: #1a202c !important;
}
.active {
    color: #007BFF !important;
}

.navbar-toggler {
    box-shadow: none !important;
}


@media (min-width: 300px ) {
    .carousel-caption {
        left: 5% !important;
        right: 5% !important;
    }
}
